body {
    background-color: #ffe4e1; /* Rosa chiaro */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

div, p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: fit-content;
    max-width: 80%;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(255, 43, 43, 0.5);
    color: white;
}

button {
    background-color: #ff6b81;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 30px;
    
    text-shadow: 2px 2px 4px rgba(255, 43, 43, 0.5);
    cursor: pointer;
    transition: background 0.3s ease;
    font-weight: bold;
}

button:hover {
    background-color: #ff4757;
}

.buttons-container {
    display: inline-block;
    justify-content: center;
    gap: 10px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}
